
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Nunito", sans-serif;
  background-color: #1A1A1D;
}

.input{
  text-align: center;
  margin: 100px 0;
}

input[type="text"]{
  height: 50px;
  width: 600px;
  background: #e7e7e7;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
}

button{
  height: 50px;
  width: 100px;
  background: #e7e7e7;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}

.button:hover {
  background-color:#4E4E50;
  transition: 0.5s;
  color: white;
}

.display{
  text-align: center;

}

h2{
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
  text-decoration: none; 
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    color: #fff;
    background: #4E4E50;
    width: 100vw;
    padding: 20px;
    padding-bottom: 25px;
    text-align: center;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

h1 { color: white; font-family: 'Raleway',sans-serif; font-size: 50px; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase; }


h2 { color: white; font-family: 'Raleway',sans-serif; font-size: 40px; font-weight: 800; line-height: 36px; margin: 0 0 24px; text-align: center; }


p { color: white; font-family: 'Raleway',sans-serif; font-size: 35px; font-weight: 500; line-height: 32px; margin: 0 0 24px; }


a { color: white; text-decoration: none; }


a:hover { color: #6F2232; text-decoration: underline; }

.img-logo{
  height: 200px;
  width: 200px;
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 5px;
}