
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Nunito", sans-serif;
}

.input{
  text-align: center;
  margin: 100px 0;
}

input[type="text"]{
  height: 50px;
  width: 600px;
  background: #e7e7e7;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
}

button{
  height: 50px;
  width: 100px;
  background: #e7e7e7;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

.display{
  text-align: center;

}

a{
  text-decoration: none; 
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    color: #fff;
    background: #000;
    width: 100vw;
    padding: 20px;
    padding-bottom: 25px;
    text-align: center;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}